<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <h3 class="my-4">Listing Details</h3>

    <div class="card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-image" />
      <div class="card-body">
        <p class="card-text">
          <strong><%= listing.title %></strong><br />
          <%= listing.description %><br />
          ₹<%= listing.price.toLocaleString("en-in") %><br />
          <%= listing.location %>, <%= listing.country %>
        </p>
      </div>
    </div>

    
    <div class="d-flex justify-content-center gap-3 mt-4">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>
